apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-java-quarkus-qemuejzb
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-java-quarkus-qemuejzb:a2f38f1d6ef74def80654fd055352547c9ae76f8@sha256:c4f2059dfed0e44909a13d9421be83109de8668ce8e005b41d54fb36be8f98c9
          name: container-image
